<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <!--
        <h1> if condition </h1>
        {% if a > 5 %}
            <h2> a value is {{a}} </h2>
            <h2> inside if block</h2>
        {% endif %}


        <h1> if else conditions</h1>
        {% if b > a  %}
            <h2> a is greater </h2>
        {% else %}
            <h2> b is greater </h2>
        {% endif %}
        

        <h1> if elif else</h1>
        {% if a > b %}
            <h2> a is greater </h2>
        {% elif b > a %}
            <h2> b is greater </h2>
        {% else %}
            <h2> a is equal to b </h2>
        {% endif %}
        -->
        <h1> Nested if conditions </h1>
        {% if a > b %}
            {% if a > c %}
                <h1> a is greater </h1>
            {% else %}
                <h2> c is greater </h2>
            {% endif %}
        {% else %}
            {% if b > c %}
                <h1> b is greater </h1>
            {% else %}
                <h2> c is greater </h2>
            {% endif %}
        {% endif %}
    </center>
    
</body>
</html>